<div class="share-widget">
<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="twitter-share-button">Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="fb-share-button" data-href="https://www.omgbeckilee.com" data-layout="button" data-mobile-iframe="true" style="position: relative; top: -9px"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.omgbeckilee.com%2F&amp;src=sdkpreparse">Share</a></div>
</div>
